css

      .zhuyebeijing {
          background-image: url('TU/zhuyebj.ing');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-attachment: fixed;
          } <!--背景图片。背景重复-无重复。背景位置-中心中心。背景尺寸-封面-->

      .biaotibeijing {
          background-image: url('TU/biaotilanbj.jpg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          }

      .kuaijielanbeijing {
          background-image: url('TU/kuaijielanbj.ing');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          }

      .zhutuibeijing {
          background-image: url('TU/zhutuibj.jpg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          }

      .bk {
          border-style:solid;
          border-width:2px;
          border-color:rgba(0, 0, 0, 0.452);
          margin:5px;
          }<!--边框-->

      .neirongbeijing {
          background-image: url('TU/neirongbj.jpg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
      }

      .neirongyangshi {
          text-align: center;
          color: aliceblue;
          line-height: 1.5;
          margin: 3px;
          word-wrap: break-word;
      }<!--背景图片。是否重复。背景位置-中心中心。背景尺寸-封面。文本对齐-居中。文本颜色。行高。外边距。换行-->

      .zdjz {
          text-align: center;
      }<!--自动居中-->

      .flex1 {
          display:flex;
      }<!--容器弹性-->

      .flex2 {
          display:flex;
          flex-direction:column;
      }


      .htx {
          display:inline-flex;
      }